@font-face{
	font-family: PTSans-Regular;
	src: url(../fonts/PTSans-Regular.ttf);
}

@font-face{
	font-family: PTSans-Bold;
	src: url(../fonts/PTSans-Bold.ttf);
}

/*common start*/
body{
	font-family: PTSans-Regular;
	font-size: 16px;
	color: #010101;
}
/*common end*/
/*header start*/
header{
	background-color: #fcdb00;
	padding: 20px 0;
}
.c_nav{}
.logo{}
.menu ul li a{
	font-family: PTSans-Bold;
	font-size: 22px;
	color: #010101 !important;
	padding: 0 40px !important;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color: white !important;
}
/*header end*/
/*slider start*/
.slider{
	background-color: #fcdb00;
	padding-bottom: 100px;
}
/*indicator*/
.s_text{}
.s_text h1{
	font-family: PTSans-Bold;
	font-size: 32px;
}
.s_text h2{
	font-family: PTSans-Regular;
	font-size: 20px;
	color: #313841;
}
.s_text p{
	color: #555555;
}
.s_icon{}
.s_icon ul li i{
	font-size: 42px;
}
.s_img{}
.s_img img{}
/*slider end*/